<launch>

  <arg name="rviz" default="true" />
  <arg name="scanPeriod" default="0.1" />
  <!-- rosbag arg -->
  <arg name="ros_bag_name" default="simulation_res"/>
  
  <node pkg="loam_velodyne" type="multiScanRegistration" name="multiScanRegistration" output="screen">
    <param name="lidar" value="VLP-16" /> <!-- options: VLP-16  HDL-32  HDL-64E -->
    <param name="scanPeriod" value="$(arg scanPeriod)" />

    <remap from="/multi_scan_points" to="/velodyne_points" />
  </node>

  <node pkg="loam_velodyne" type="laserOdometry" name="laserOdometry" output="screen" respawn="true">
    <param name="scanPeriod" value="$(arg scanPeriod)" />
  </node>

  <node pkg="loam_velodyne" type="laserMapping" name="laserMapping" output="screen">
    <param name="scanPeriod" value="$(arg scanPeriod)" />
  </node>

  <node pkg="loam_velodyne" type="transformMaintenance" name="transformMaintenance" output="screen">
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne)/rviz_cfg/loam_velodyne.rviz" />
  </group>

  <!--- Please change ~/catkin_ws/src/loam_velodyne/bag/ to the path you want to save the result -->  
  <node pkg="rosbag" type="record" name="record" args="record -O /home/chienerh/catkin_ws/src/loam_velodyne/result/bag/$(arg ros_bag_name).bag
                                                      /integrated_to_init
								                                      /groundtruth_pose/pose"/>/

</launch>
